body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #444654;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 210px;
  font-family: "Lato", sans-serif;
  background-color: #202123;
  height: 100%;
  overflow: auto;
  position: fixed;
}

.sidebar--content{
  border: 1px solid #202123;
  /* dont appply padding or margin  */
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.sidebar a:hover:not(.active) {
  background-color: #343541;
  border-radius: 10px;
  color: white;
}

.sidebar-text{
  font-size: 0.87em; 
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 100%;
  /* border: 2px solid green; */
  height:99vh;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}




/* css for chat */
.chat-area{
  border: 2px solid gray;
  height: 86%;
  margin: 20px;
}



/* form css */
.form-area{
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  border: 2px solid white;
  height: 6%;
  background-color: #40414F;
  border: 1px solid #303038;
  margin: 20px;
}

.form-area-content {
  display: flex;
  height: 70%;
  padding: 10px;
}

.form-textbox{
  /* border: 2px solid blue; */
  width: 96%;
}

.send-icon{
  /* border: 2px solid red; */
  width: 35px;
  text-align: center;
  margin-left: 15px;
  border-radius: 10px;
  padding: 8px;
}

.send-icon:hover{
  background-color: #1d1d20;
}

/* question text box  */
.ques--input{
  width: 99%;
  height: 100%;
  background: none;
  color:white;
  border: none;
  outline: none;
  font-size: 1.2em;
  font-family: "Lato", sans-serif;
}
