/* GLOBAL  */

:root {
  --black: #202123;
  --white: #f5f5f5;
  --grey: #878a98;
  --darkGrey: #343541;

  --gptColorDark: #4e4f60;
  --gptColorLight: #e3e5e7;

  --transition: 0.5s ease;
  --background: var(--black);
  --foreground: var(--white);
  --hoverColor: var(--grey);
}

html,
body {
  margin: 0px;
  font-family: "Lato", sans-serif;
  background-color: var(--backgroundSB);
  color: white;
}

.home {
  /* border: 2px solid black; */
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
}




/* SIDEBAR  */

.sidebar {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;

  background: var(--backgroundSB);
  color: var(--foregroundSB);
  transition: color var(--transition), background var(--transition);

  overflow: auto;
  position: fixed;

  display: flex;
  flex-direction: column;

  min-height: 100%;
  /* border: 2px solid green; */
  width: 210px;
  transition: 0.3s;
  z-index: 98;
}

.sidebar a {
  display: block;
  /* color: ; */
  padding: 14px;
  text-decoration: none;
  cursor: pointer;
  margin: 0px 5px 0px 5px;
}

.sidebar a:hover:not(.active) {
  background-color: var(--hoverColor);
  border-radius: 10px;
  color: white;
}

.sidebar-text {
  font-size: 0.7em;
}

.sidebar-image {
  width: 14px;
  padding-right: 8px;
}

.my-account {
  /* border: 1px solid black; */
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px 20px 0px 20px;
  background: rgba(187, 187, 187, 0.2);
  border-radius: 10px;
}

.sidebar-image-2 {
  width: 40px;
  border-radius: 50px;
}




/* HEADER  */
.header {
  display: flex;
  height: 30px;
  /* border: 2px solid blue; */
  min-width: 100%;
  position: fixed;
  background: #343540;
  padding-top: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.39);
}

.option-image {
  width: 24px;
}

.header-link {
  padding-left: 10px;
  padding-bottom: 5px;
  left: 0;
  /* border: 1px solid white; */
  width: 5%;
}

.header-text {
  width: 92%;
  /* border: 1px solid green; */
  padding-top: 2px;
  text-align: center;
}




/* CONTENT  */

.content {
  display: flex;
  min-height: 95%;
  /* border: 3px solid red; */
  width: 100%;
  flex-direction: column;

  /* background-color: rgba(94, 94, 116, 0.377); */
  background-color: var(--contentBG);
}




/* css for chat */
.chat-area {
  /* border: 2px solid white; */
  height: 90%;
  overflow: hidden;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
  /* position: sticky; */
}

.chat-area-child {
  /* background-color: rgb(0, 0, 0); */
  width: 100%;
  height: 200px;
  height: 100%;

  overflow-y: scroll;
  padding-right: 17px;
  /* box-sizing: content-box; */
}

.chatBoxItem {
  width: 100%;
  /* height: 10%; */
  /* background-color: red !important; */
  /* border: 2px dotted blue; */
}

.clear {
  clear: both;
  height: 7px;
  /* border:1px solid red; */
}

.answerChat {
  /* border: 2px solid green; */
  max-width: 80%;
  min-width: 10%;
  display: table;
  vertical-align: middle;
  background-color: #343541;
  border-bottom: 1px solid #74768d;
  border-radius: 1px 20px 20px 20px;
  padding: 5px;
  font-size: 0.87em;
}

.questionChat {
  /* border: 2px solid orange; */
  width: auto;
  max-width: 80%;
  min-width: 10%;
  display: table;
  vertical-align: middle;
  float: right;
  background-color: #62647795;
  border-bottom: 1px solid #8e90a795;
  border-radius: 20px 1px 20px 20px;
  padding: 5px;
  font-size: 0.87em;
}

.gpt-chat-icon {
  width: 22px;
  padding: 5px;
}

.question-text-parent {
  display: flex;
}

.question-text-1 {
  flex: 1;
}

.question-text-2 {
  margin: 5px 10px 5px 8px;
  /* border: 1px solid yellow; */
  width: 100%;
  display: flex;
  align-items: center;
}




/* form css */
.form-area {
  box-shadow: 0px 8px 30px 14px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  height: 40px;
  /* background-color: #40414f; */
  background-color: var(--contentBG);

  border: 1px solid #303038;
  margin: 0px 8px 8px 8px;
}

.form-area-content {
  display: flex;
  height: 70%;
  padding: 10px;
}

.form-textbox {
  /* border: 1px solid blue; */
  width: 96%;
}

.send-icon {
  /* border: 1px solid red; */
  width: 35px;
  text-align: center;
  margin-left: 15px;
  border-radius: 10px;
  padding: 3px 8px 8px 8px;

  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.send-icon:hover {
  background-color: #35353b;
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.15);
}




/* question text box  */
.ques--input {
  width: 99%;
  height: 100%;
  background: none;
  /* color: white; */
  color: var(--foregroundSB);
  border: none;
  outline: none;
  font-size: 0.87em;
  font-family: "Lato", sans-serif;
}

.downImage {
  opacity: 0.4;
  width: 25px;
  position: absolute;
  right: 35px;
  z-index: 1000;
  bottom: 12%;
  cursor: pointer !important;
}

/* background blur   */
.overlay {
  background-color: #50526291;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  transition: 1.3s;
  z-index: 90;
}

/* 
.lol {
  height: 20px;
  width: 50px;

  position: absolute;
  left: 203px;
  top: 10%;
  transition: 0.3s;
  z-index: 99;
} */


.toggle-wrapper {
  width: 100px;
  /* display: block; */
}

.toggle {
  height: 15px;
  width: 74px;
  border-radius: 40px;
  padding: 10px;
  position: relative;
  margin: auto;
  cursor: pointer;

  background: var(--foreground);
  transition: background var(--transition);
}

.toggle::before {
  content: "";
  display: block;
  height: 25px;
  width: 25px;
  border-radius: 31px;
  background: var(--white);
  position: absolute;
  z-index: 2;
  transform: translate(0);
  transition: transform var(--transition);
  top: 5px;
  background: var(--background);
  transition: transform var(--transition), background var(--transition);
}

.toggle.enabled::before {
  transform: translateX(53px);
}

.toggle input {
  position: absolute;
  top: 0;
  opacity: 0;
}

.toggle .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 5px;
}

.iconkk {
  width: 20px;
}




/* Bug Popup */

.globalDiv {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  left: 50%;
  top: -100px;
  transform: translate(-50%, -50%);
  height: 170px;
  width: 75%;
  box-shadow: 2px 2px 9px -2px rgba(34, 34, 34, 0.699);
  border-radius: 10px;
  transition: 0.47s;
  z-index: 100;
  max-width: 500px;

  background-color: var(--contentBG);
  border: 1px solid rgba(34, 34, 34, 0.699);
}

.bugForm {
  /* border: 2px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.bugInsideDiv {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  color: var(--foreground);
}

.bugInput {
  width: 100%;
  height: 50px;
  padding: 5px;
  border: 1px solid var(--foreground);
  background-color: var(--contentBG);
  transition: 0.47s;
  color: var(--foreground);
  border-radius: 10px;
  margin: 10px;
}

.submitButtons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  /* border: 2px solid red; */
}

.button-17 {
  align-items: center;
  background-color: #343541;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #f9fafb;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  height: 38px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  width: auto;
  border-style: none;
  z-index: 0;
  transition: 0.3s;
}

.button-17:hover {
  background: #f6f9fe;
  color: #174ea6;
}
